.section-form{
    /* border: 1px solid red; */
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 1.6rem;
    margin-right: 1.5rem;
}
.forms{
    background-image: linear-gradient(white, blueviolet, pink);
    width: 450px;
    height: 600px;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 10px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    box-shadow: 2px 2px 3px 1px grey;
    /* background-image: url('./Component/UsersProfile.png'); */
  }
  .input-label{
    width: 90%;
    margin: 15px;
    height: 30px;
  
  }
  input{
    border: 1px solid grey;
    /* border-radius: 10px; */
    border-radius: 1.6rem;
    font-size: 1rem;
    
  }
  .button{
    width: 90%;
    height: 40px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    margin-top: 8px;
    color: #fff;
    background-color: rgb(89, 26, 148);
  }
  .button:hover{
    background-color: #c052a5;
    cursor: pointer;
    color: white;
  }
  .showDataStyle{
    margin-top: 30px;
    width: 700px;
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #6ee9c0d8;
    background-image: linear-gradient(white, blueviolet, pink);
    padding: 10px;
    display: flex;
     justify-content: space-between;
    flex-direction: row;
    flex-wrap:  wrap;
    gap: 20px;
     align-items: center;
     box-shadow: 2px 2px 3px 1px grey;
  }
  p{
     /* border: 1px solid red; */
    display: flex;
      
  }
  .logo-img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-top: 10px;

  }